
<a routerLink="/home">Back</a>
<div class="row">
    <div class="col-lg-4" *ngFor="let product of products">
      
        <div class="card border-success">
            <img class="card-img-top img-circle" src="http://rjtmobile.com/grocery/images/{{product.image}}" alt="Card image cap">
            <div class="card-body">
              <h4 style="color:green"class="card-title">{{product.productName}}</h4>
              <p class="card-text">{{product.description}}</p>
             
             <p style="font-weight: bold;" class="card-text"><h5>Price : {{product.price|currency:'INR'}}</h5>
              <span><del>MRP : {{product.mrp|currency:'INR'}}</del></span>
              <a href="{{'/product/details/'+product._id}}" class="btn btn-block btn-outline-dark">View Details</a>
            </div>
          </div>
        </div>  
   
</div>

