<body>
    

    <app-navbar></app-navbar>
    <h1 style="color:azure;" class="text-center display-4">Contact Us</h1>
    <h3 style="color:azure" class="text-center ">This is contact us page</h3>
    <div class="container">
        <p style="margin-top:70px;color:azure;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut dolores eveniet assumenda unde in nam et voluptates, esse, beatae molestiae doloremque itaque sequi quibusdam recusandae. Eveniet adipisci a in quaerat beatae, ipsum omnis repellat consequatur tempore, assumenda modi, quae quam accusamus fugit vero. Facilis accusantium dolores, alias suscipit nulla inventore at quod dignissimos, ad similique, doloribus aperiam delectus. Alias repellendus ipsa, distinctio officia, error optio odit sint, aspernatur adipisci beatae dolorem culpa minus voluptate aliquam hic consequatur vero ullam. Modi optio, laboriosam vel dolor, rem quae quidem aspernatur in esse quos, repellendus animi? Sequi in adipisci voluptate repellat officiis distinctio!</p>
        <p style="color:azure;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem cupiditate itaque quo qui aperiam omnis explicabo repellat quaerat et corporis atque consequuntur iusto, accusantium, expedita ab consequatur eos, fuga excepturi eveniet aliquid assumenda. Quae veniam aperiam eius labore rem id natus reiciendis atque culpa minima aut est harum, optio hic at, consequatur possimus incidunt officia iusto autem sapiente? Nobis quam ad autem voluptate laborum animi praesentium, reprehenderit similique, vel explicabo exercitationem sunt debitis deserunt. Consectetur excepturi, atque commodi dolores ad consequuntur impedit unde ducimus! Quae odio aliquam eveniet placeat. Saepe sequi dicta error culpa tempore cumque sunt, iusto perspiciatis voluptate.</p>
    </div>
    </body>


