.list-group-item{
    background-color: rgb(134, 241, 134);
}
#sidebar{
    background-color: rgb(134, 241, 134);
    height: 100vh;
    min-height: 100vh;
    width:300px;
    
    
    
}
.list-group-item:hover{
    background-color: darkgreen;
}